body {
  font-family: arial;
}

table {
  width:80%;
  border: 1px solid  black;
  text-align: center;
  border-collapse: collapse;
}

td,th{
  border: 1px solid black;
}

#productsInCart{
  display: inline-block;
  background-color: pink;
  width: 50px;
  border-radius: 50%;
  width: 20px;
  text-align: center;;
}


